.main {
  h1 {
    text-align: center;
  }
  .stock-form {
    width: 80%;
    margin: 0 auto;
    .stock-form-field {
      width: 10rem;
    }
  }
  h2 {

  }
  mat-card {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
  }
  .stock-card-header,
  .stock-card-header mat-card-title {
    width: 100%
  }
  .mat-card-header-text {
    width: 100%;
  }
  mat-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .stock-company-name {
      flex: 1;
    }

  }
  mat-card-subtitle.mat-card-subtitle {
    opacity: 1;
    margin: 0;
    .stock-price {
      font-size: 1.5rem;
      &.green {
        color: green;
      }
      &.red {
        color: red;
      }
    }
    .stock-change {
      padding-left: 2rem;
    }
    .stock-change-percent {
      padding-left: 1rem;
    }
  }
  mat-card-content {
    div {
      display: flex;
      line-height: 2rem;
      border-bottom: 1px solid #ecedee;
      margin: 0 16px;
    }
    label.label {
      width: 180px;
    }
    label.value {
      flex: 2;
      font-weight: bold;
      font-size: 1rem;
      padding-left: 2rem;
    }
  }
}
