
<div class="main">
  <h1>Finapp - look up a stock!</h1>
  <form class="stock-form">
    <mat-form-field class="stock-form-field">
      <input
        matInput
        #stockInput
        placeholder="Enter stock symbol"
        class="input-stock"
        name="stockName"
        [(ngModel)]="stockName" >
    </mat-form-field>
    <button mat-raised-button color="primary" class="stock-search-btn" (click)=stockChange(stockInput.value)>Search</button>
  </form>
  <mat-card  *ngIf="stock?.profile" class="stock-card">
    <mat-card-header class="stock-card-header">
      <mat-card-title class="stock-title">
        <div class="box-1">
          <img src="{{stock?.profile.image}}">
        </div>
        <div class="box-2">
          <h4 class="stock-company-name">{{stock?.profile.companyName}}</h4>
          <h4>({{stock?.symbol}})</h4>
        </div>
      </mat-card-title>

      <mat-card-subtitle>
        <h2>
          <mat-icon class="stock-arrow">{{getPriceColor(stock?.profile.changes) === 'green' ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
          <span class="stock-price {{getPriceColor(stock?.profile.changes)}}">
            {{stock?.profile.price}}
          </span>
          <span class="stock-change">{{stock?.profile.changes}}</span>
          <span class="stock-change-percent">{{stock?.profile.changesPercentage}}</span>
        </h2>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <label class="label">Beta</label>
        <label class="value">{{stock?.profile.beta}}</label>
      </div>
      <div>
        <label class="label">Average Volume</label>
        <label class="value">{{stock?.profile.volAvg}}</label>
      </div>
      <div>
        <label class="label">Market Cap</label>
        <label class="value">{{getFormattedMarketCap(stock?.profile.mktCap)}}</label>
      </div>
      <div>
        <label class="label">Description</label>
        <label class="value description">{{stock?.profile.description}}</label>
      </div>

      <div>
        <label class="label">CEO</label>
        <label class="value">{{stock?.profile.ceo}}</label>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary">{{stock?.profile.website}}</a>
    </mat-card-actions>
  </mat-card>
</div>
<router-outlet></router-outlet>
