
<div class="main">
  <h1>Finapp - lookup a stock!</h1>
  <form class="stock-form">
    <mat-form-field class="stock-form-field">
      <input
        matInput
        #stockInput
        placeholder="Enter stock!"
        class="input-stock"
        name="stockName"
        [(ngModel)]="stockName" >
    </mat-form-field>
    <button mat-raised-button color="primary" (click)=stockChange(stockInput.value)>Search</button>
  </form>
  <mat-card  *ngIf="stock?.profile" class="stock-card">
    <mat-card-header class="stock-card-header">
      <mat-card-title class="stock-title">
        <h4 class="stock-company-name">{{stock?.profile.companyName}}</h4>
        <h4>({{stock?.symbol}})</h4>
        <img src="{{stock?.profile.image}}">
      </mat-card-title>
      <mat-card-subtitle>
        <h2>
          <span class="stock-price {{stock?.profile.changes > 0 ? 'green' : 'red'}}">{{stock?.profile.price}}
            <mat-icon>arrow_drop_down</mat-icon>
          </span>
          <span class="stock-change">{{stock?.profile.changes}}</span>
          <span class="stock-change-percent">{{stock?.profile.changesPercentage}}</span>
        </h2>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <label class="label">Beta</label>
        <label class="value">{{stock?.profile.beta}}</label>
      </div>
      <div>
        <label class="label">Average Volume</label>
        <label class="value">{{stock?.profile.volAvg}}</label>
      </div>
      <div>
        <label class="label">Market Cap</label>
        <label class="value">{{stock?.profile.mktCap}}</label>
      </div>

      <div>
        <label class="label">CEO</label>
        <label class="value">{{stock?.profile.ceo}}</label>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary">{{stock?.profile.website}}</a>
    </mat-card-actions>
  </mat-card>
</div>
<router-outlet></router-outlet>
